@import "../../variables.scss";

.aerialViewContainer {
  &.componentChangeCSSTransition-enter {
    opacity: 0;
  }
  &.componentChangeCSSTransition-enter-active {
    opacity: 1;
    transition: $PageChangeTransition;
  }
  &.componentChangeCSSTransition-exit {
    opacity: 1;
    pointer-events: none;
  }
  &.componentChangeCSSTransition-exit-active {
    opacity: 0;
    transition: $PageChangeTransition;
    pointer-events: none;
  }

  width: 100%;
  top: $PageInnerTop;
  height: $PageInnerHeight;
  position: absolute;
  .pnlm-container {
    z-index: 0;
  }

  // 全景圖中專案本體Icon
  .mainHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/logo.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    &.noDisplay {
      display: none;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }

  .noDisplay {
    display: none;
  }

  .onTownHotelHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "上城区酒店";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .noWallHotelHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "诺沃尔酒店";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .stelandhotelHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "斯特兰德酒店";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .yomaBankHotelHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Yoma银行";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .AGDBankHotelHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "AGD银行";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .daGeDaPoliceHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "达给达警局";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .AYABankHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "AYA银行";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .seaMallHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "海洋購物廣場";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .linkLifeMallHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 110px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "联合生活购物中心";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .friendMallHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "友扎广场";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .furnitureHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 90px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Pro1家具中心";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .moneyHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "财富广场";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .moneyRootHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "资本超市";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .cityHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "城市超市";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .YangonRiverHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Yangon River";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .StrandRdHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Strand Rd";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .MahaBandulaRdHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 120px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Maha Bandula Rd";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .LowerPazundangRdHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 130px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Lower Pazundang Rd";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .YamonnarRdHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Yamonnar Rd";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .ShukhintharMayopatRdHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 150px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Shukhinthar Mayopat Rd";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .ByayRoadHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Byay Road";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .PhoneGyistHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Phone Gyist";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .MahaBandoolaBridgeHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 150px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Maha Bandoola Bridge";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .UWisaraRoadHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "U Wisara Road";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .ThaketaBridgeHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 110px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Thaketa Bridge";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .BagoRiverHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Bago River";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .PazundaungRdHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 110px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Pazundaung Rd";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .MinNandarRdHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 90px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Min Nandar Rd";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .ZingamaRdHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Zingama Rd";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .grassHospitalHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "草地医院";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .goldBohoHospitalHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "金Boho医院";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .dagedaHospitalHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "达给达医院";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .seniorHighHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "第一基础教育高中";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .juniorHighHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "第一基础教育中学";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .nationalHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 140px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Shukhinnehar国际学校";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .elemantaryHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "第九基础教育小学";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .waterPlayHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "仰光水上乐园";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .footballHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 120px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "ManPaya Ward足球场";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .ZinaManHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 120px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "Zina Man Aung佛塔";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }

  .firstHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .secondHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "2棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .thirdHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "3棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .fifthHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "5棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .sixthHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "6棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .seventhHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "7棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .eighthHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "8棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .ninethHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "9棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .tenthHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "10棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .eleventhHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "11棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .twelvethHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "12棟";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }
  .travelParkHotspot {
    background-image: url("../../images/AerialView/LogoAndIcons/qyzzuoZ.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "园林漫游";
      font-size: 0.7rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .in {
      display: none;
    }
    .out {
      display: none;
    }
  }

  .travelParkOneToTwoHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/LeftArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游2";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }
  .travelParkOneToThreeHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/RightArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游3";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }
  .travelParkOneToFiveHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/DoubleFrontArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游5";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }
  .travelParkTwoToOneHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/DoubleFrontArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游1";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }
  .travelParkTwoToThreeHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/DoubleFrontArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游3";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }
  .travelParkThreeToOneHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/DoubleFrontArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游1";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }
  .travelParkThreeToTwoHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/DoubleFrontArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游2";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }
  .travelParkThreeToFourHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/DoubleFrontArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游4";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }
  .travelParkFourToThreeHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/LeftArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游3";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }
  .travelParkFiveToOneHotspot {
    background-image: url("../../images/AerialView/TravelPark/Arrow/DoubleFrontArrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    text-align: center;
    &.noDisplay {
      display: none;
    }
    &::after {
      text-align: center;
      content: "1";
      font-size: 0rem;
      color: $PanoTextYellow;
      font-family: source-han-sans-simplified-c, sans-serif;
      font-style: normal;
    }
    .hotspot .in {
      // display: none;
      border-radius: 0 !important;
      background-color: transparent !important;
      &::after {
        // border: 1px solid #000;
        border-radius: 5px;
        background-color: rgba(darken($PrimaryGray, 100), 0.6);
        position: absolute;
        transform: translate(-50%, -150%);
        width: 90px;
        text-align: center;
        // 下面兩行是為了撐起外框，讓箭頭顯現
        content: "园林漫游1";
        font-size: 1rem;
        color: white;
        font-family: source-han-sans-simplified-c, sans-serif;
        font-style: normal;
      }
    }
    .out {
      display: none;
    }
  }

  .centerPoint {
    border: 1px solid red;
    position: absolute;
    height: 2px;
    width: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10001;
  }

  .leftTopMenu {
    position: absolute;
    top: 3%;
    left: 3%;
    &.noDisplay {
      display: none;
    }
    ul {
      width: 70px;
      li {
        border: 2px solid white;
        margin-bottom: 0.3rem;
        height: 1.5rem;
        background-color: rgba(50, 74, 95, 0.3);
        color: white;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        &.active {
          background-color: #61479c;
        }
      }
    }
  }

  // 第一層Menu(中下方的Menu)
  .firstMenu {
    position: absolute;
    bottom: 3%;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center; //水平置中
    transform: translate(0, 150%);
    opacity: 0.3;
    transition: $PageChangeTransition;
    &.active {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 1.5s cubic-bezier(0.13, 0.9, 0.25, 0.98);
    }
    ul {
      position: relative; //為了要讓underBar寬度參考
      border-radius: 50%;
      display: flex;
      width: 60%;
      height: 100%;
      justify-content: center; //水平置中
      background-color: white;
      border-top-left-radius: 2% 20%; //寬高
      border-top-right-radius: 2% 20%;
      border-bottom-right-radius: 2% 20%;
      border-bottom-left-radius: 2% 20%;
      li {
        width: 50%;

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $PageChangeTransition;
        &:first-child {
          margin: 0 0 0 5%;
        }
        &:last-child {
          margin: 0 5% 0 0;
        }
        .text {
          font-size: 0.9rem;
          font-family: source-han-sans-simplified-c, sans-serif;
          font-weight: 400;
          font-style: normal;
        }
        .underBar {
          background-color: $PrimaryBlue;
          position: absolute;
          width: 0%;
          height: 16%;
          bottom: 0%;
          transition: $PageChangeTransition;
          opacity: 0;
          border-top-left-radius: 2% 20%; //寬高
          border-top-right-radius: 2% 20%;
          border-bottom-right-radius: 2% 20%;
          border-bottom-left-radius: 2% 20%;
        }
        &.active {
          .text {
            color: $PrimaryBlue;
            transition: $PageChangeTransition;
          }
          .underBar {
            opacity: 1;
            width: 2.7rem;
            transition: $PageChangeTransition;
          }
        }
      }
    }
  }

  // 第二層Menu
  .menuContainer {
    display: none;
    //Menu容器，用來調整Menu位置、寬高
    background-color: $PrimaryWhite;
    position: absolute;
    bottom: 0;
    margin: 0 2% 3% 2%;
    height: 15%;
    width: 96%;
    z-index: 1;
    .menuList {
      //讓Menu本體符合上層容器寬高
      width: 100%;
      height: 100%;
      li {
        //清單項目間距、位置、寬高
        display: inline-block;
        width: 25%;
        height: 100%;
        padding: 1.5vw;
        &.active {
          .inner {
            border: 3px solid $PrimaryBlue;
            .text {
              background-color: $PrimaryBlue;
              color: $PrimaryBlack;
            }
          }
        }
        .inner {
          //清單內容物的容器，用來放背景圖和文字
          border: 3px solid $PrimaryGray;
          width: 100%;
          height: 100%;
          position: relative;
          .bgImg {
            background-image: url("../../images/AerialView/menuBG1.jpg");
            background-size: cover;
            background-color: $PrimaryGray;
            height: 100%;
            width: 100%;
          }
          .text {
            background-color: $PrimaryGray;
            color: $PrimaryWhite;
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            line-height: 1.2rem;
            font-family: source-han-sans-simplified-c, sans-serif;
            font-weight: 400;
            font-style: normal;
          }
        }
      }
    }
  }
}
