@import "../../variables.scss";

.SampleRoomContainer {
  &.componentChangeCSSTransition-enter {
    opacity: 0;
  }
  &.componentChangeCSSTransition-enter-active {
    opacity: 1;
    transition: $PageChangeTransition;
  }
  &.componentChangeCSSTransition-exit {
    opacity: 1;
    pointer-events: none;
  }
  &.componentChangeCSSTransition-exit-active {
    opacity: 0;
    transition: $PageChangeTransition;
    pointer-events: none;
  }

  width: 100%;
  position: absolute;
  height: $PageInnerHeight;
  top: $PageInnerTop;
  .pnlm-container {
    .noDisplay {
      //用來隱藏全景圖中的指示按鈕
      display: none;
    }
    .pnlm-sprite {
      background-image: url("../../images/arrow-up.png");
      background-size: 100% 100%;
    }
    .pnlm-hotspot {
      width: 39px;
      height: 35px;
    }
  }

  .smallMapContainer {
    position: absolute;
    width: 40%;
    height: 30%;
    top: 2%;
    left: 3%;
    .imgContainer {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .pointContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .point {
        width: 15px;
        height: 15px;
        border: 2px solid white;
        border-radius: 50%;
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.6);
        position: absolute;
        z-index: 300;

        // 隱藏紅點
        &.noDisplay {
          display: none;
        }

        // A5紅點*6
        &.A5InhousePoint {
          //次臥
          &.one {
            top: 35%;
            left: 22%;
            transform: translate(-50%, -50%);
          }
          //洗手間
          &.two {
            top: 54%;
            left: 18%;
            transform: translate(-50%, -50%);
          }
          //主臥室
          &.three {
            top: 74%;
            left: 30%;
            transform: translate(-50%, -50%);
          }
          //廚房
          &.four {
            top: 16%;
            left: 68%;
            transform: translate(-50%, -50%);
          }
          //中下次臥
          &.five {
            top: 78%;
            left: 60%;
            transform: translate(-50%, -50%);
          }
          //客廳
          &.six {
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);
          }
        }

        // B1紅點*7
        &.B1InhousePoint {
          //次臥
          &.one {
            top: 28%;
            left: 22%;
            transform: translate(-50%, -50%);
          }
          //洗手間
          &.two {
            top: 47%;
            left: 18%;
            transform: translate(-50%, -50%);
          }
          //主臥室
          &.three {
            top: 70%;
            left: 30%;
            transform: translate(-50%, -50%);
          }
          //廚房
          &.four {
            top: 12%;
            left: 66%;
            transform: translate(-50%, -50%);
          }
          //中下次臥
          &.five {
            top: 71%;
            left: 55%;
            transform: translate(-50%, -50%);
          }
          //客廳
          &.six {
            top: 43%;
            left: 80%;
            transform: translate(-50%, -50%);
          }
          //次衛
          &.seven {
            top: 30%;
            left: 55%;
            transform: translate(-50%, -50%);
          }
        }

        // C2紅點*5
        &.C2InhousePoint {
          //次臥
          &.one {
            top: 63%;
            left: 48%;
            transform: translate(-50%, -50%);
          }
          //洗手間
          &.two {
            top: 27%;
            left: 40%;
            transform: translate(-50%, -50%);
          }
          //主臥室
          &.three {
            top: 70%;
            left: 30%;
            transform: translate(-50%, -50%);
          }
          //廚房
          &.four {
            top: 24%;
            left: 57%;
            transform: translate(-50%, -50%);
          }
          //客廳
          &.five {
            top: 43%;
            left: 80%;
            transform: translate(-50%, -50%);
          }
        }

        // D6紅點*3
        &.D6InhousePoint {
          //次臥
          &.one {
            top: 30%;
            left: 37%;
            transform: translate(-50%, -50%);
          }
          //主臥室
          &.two {
            top: 79%;
            left: 30%;
            transform: translate(-50%, -50%);
          }
          //客廳
          &.three {
            top: 63%;
            left: 60%;
            transform: translate(-50%, -50%);
          }
        }

        // E2紅點*2
        &.E2InhousePoint {
          //主臥室
          &.one {
            top: 45%;
            left: 30%;
            transform: translate(-50%, -50%);
          }
          //客廳
          &.two {
            top: 53%;
            left: 60%;
            transform: translate(-50%, -50%);
          }
        }
      }

      .pointDirection {
        display: none;
        // display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 25px solid rgba(255, 0, 0, 0.6);
        border-right: 25px solid rgba(0, 0, 0, 0);
        border-left: 25px solid rgba(0, 0, 0, 0);
        border-bottom: 25px solid rgba(0, 0, 0, 0);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        z-index: 299;
        &.InHousePano1 {
          top: 35%;
          left: 25%;
          transform: translate(-50%, -50%);
        }
        &.InHousePano2 {
          top: 45%;
          left: 60%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .menu {
    position: absolute;
    bottom: 3%;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center; //水平置中
    transform: translate(0, 150%);
    opacity: 0.3;
    transition: $PageChangeTransition;
    &.active {
      opacity: 1;
      transform: translate(0, 0);
      transition: all 1.5s cubic-bezier(0.13, 0.9, 0.25, 0.98);
    }
    ul {
      position: relative; //為了要讓underBar寬度參考
      border-radius: 50%;
      display: flex;
      width: 80%;
      height: 100%;
      justify-content: center; //水平置中
      background-color: white;
      border-top-left-radius: 2% 20%; //寬高
      border-top-right-radius: 2% 20%;
      border-bottom-right-radius: 2% 20%;
      border-bottom-left-radius: 2% 20%;
      li {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $PageChangeTransition;
        .underBar {
          background-color: $PrimaryBlue;
          position: absolute;
          width: 0%;
          height: 16%;
          bottom: 0%;
          transition: $PageChangeTransition;
          opacity: 0;
          border-top-left-radius: 2% 20%; //寬高
          border-top-right-radius: 2% 20%;
          border-bottom-right-radius: 2% 20%;
          border-bottom-left-radius: 2% 20%;
        }
        &.active {
          .text {
            color: $PrimaryBlue;
            transition: $PageChangeTransition;
          }
          .underBar {
            opacity: 1;
            width: 15%;
            transition: $PageChangeTransition;
          }
        }
      }
    }
  }
}
