@import "./variables.scss";

.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  * {
    color: $PrimaryBlack;
  }

  .mainRouteContainer {
    width: 100%;
    height: 100%;
    position: relative;
    .transitionGroup {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
}
